/* Webfont: Yekan */
@font-face {
	font-family: 'Yekan';
	src:	url('/Yekan/Yekan.eot'); /* IE9 Compat Modes */
	src:	url('/Yekan/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('/Yekan/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('/Yekan/') format('woff'), /* Modern Browsers */
			url('/Yekan/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('/Yekan/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
* {
    font-family: yekan;
}
#start {
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: center;
}
MAIN {
    background: url(/BACKGRAND.jpg);
   background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: 10PX solid blue;
    border-radius: 20PX;
padding: 10px 10px;
font-weight: 900; 
}
#main2 {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background: transparent;
 backdrop-filter: blur(10PX);  
 font-weight: 900; 
 padding-left: 10px;
 padding-right: 10px;
}
div {
    margin-top: 30px;
    color: rgb(0, 0, 0);
    background: transparent;
 backdrop-filter: blur(10PX);   
}
#about1::before {
    content: "";
    background: url(/Antoine\ de\ Saint-Exupéry.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    vertical-align: middle;
    vertical-align: top;
    width: 10px;
    height: 10px;
    padding: 29px;

}
#about1 {
    font-size: 20px;

}

#about {
    border: 2px solid black;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
i {
    padding-right: 10px;

}
section {
    
    border: 3px solid black;
}